<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Find Friends</title>
	<%- include("partials/head") %>
</head>
<body>
	<div id="mymap" style="height: 480px;"></div>
	<a href="javascript:void(0)" class="getLocation">Get location</a>
	<%- include("partials/scripts") %>
</body>
</html>